@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<ul class="navbar-nav bg-dark">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item bg-dark">
        <a  class="nav-link bg-dark text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li class="nav-item bg-dark">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/" method="post">
            <button  type="submit" class="nav-link btn btn-link bg-dark text-light">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item bg-dark">
        <a class="nav-link bg-dark text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item bg-dark">
        <a class="nav-link bg-dark text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
